<tr id="<%= dom_id company %>">
  <td><%= link_to company.name, company_path(company) %></td>
  <td><%= company.phone %></td>
  <td><%= company.email %></td>
  <td><%= company.city_name %></td>
  <td><%= company.country_id %></td>
</tr>